
@media screen and (min-width: 992px) {
    .nav-item a{
        box-shadow: inset 0 0 0 0 #332D2D;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    .nav-item a:hover{
        box-shadow: inset 100px 0 0 0 #332D2D;
      color: white !important;
    }
  }
  .logo{
    height:4rem;
  }
