.loginForm{
  height:100%;

}
form input,button{
    border-radius: 0 !important;
}
hr{
    border: none;
  height: 1px;
  /* Set the hr color */
  color: #000000;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

